In [1]:
import pandas as pd
import numpy as np
#import Recommender as r
data = pd.read_csv('ratings_Electronics.csv')

In [2]:
data.head()

    AKM1MP6P0OYPR  0132793040  5.0  1365811200
0  A2CX7LUOHB2NDG  0321732944  5.0  1341100800
1  A2NWSAGRHCP8N5  0439886341  1.0  1367193600
2  A2WNBOD3WNDNKT  0439886341  3.0  1374451200
3  A1GI0U4ZRJA8WN  0439886341  1.0  1334707200
4  A1QGNMC6O1VW39  0511189877  5.0  1397433600

In [3]:
data.rename(columns ={"AKM1MP6P0OYPR": "user_id", 
                     "0132793040":"product_id",
                    "5.0":"rating",
                    "1365811200":"timestamp"}, 
                                 inplace = True)

In [4]:
data.shape

(7824481, 4)

In [5]:
#data_n=data.head(1000)

In [6]:
#data_n.shape

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7824481 entries, 0 to 7824480
Data columns (total 4 columns):
user_id       object
product_id    object
rating        float64
timestamp     int64
dtypes: float64(1), int64(1), object(2)
memory usage: 238.8+ MB

In [8]:
for feature in data.columns:
    if data[feature].dtype == 'object':
     data[feature]=pd.Categorical(data[feature]).codes

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7824481 entries, 0 to 7824480
Data columns (total 4 columns):
user_id       int32
product_id    int32
rating        float64
timestamp     int64
dtypes: float64(1), int32(2), int64(1)
memory usage: 179.1 MB

In [10]:
users = data['user_id'].unique()
len(users)

4201696

In [11]:
product = data['product_id'].unique()
len(product)

476001

In [12]:
uni_users = data.groupby(['user_id'])
uni_user_df = pd.DataFrame({'count': uni_users.size()}).reset_index()
uni_user_df

         user_id  count
0              0      1
1              1      2
2              2      1
3              3      1
4              4      1
5              5      1
6              6      1
7              7      1
8              8      1
9              9      4
10            10      2
11            11      1
12            12      2
13            13      1
14            14      1
15            15      1
16            16      1
17            17      1
18            18      1
19            19      1
20            20      1
21            21      1
22            22      1
23            23      3
24            24      3
25            25      2
26            26      1
27            27      1
28            28      1
29            29      1
...          ...    ...
4201666  4201666      1
4201667  4201667      2
4201668  4201668      1
4201669  4201669      1
4201670  4201670      1
4201671  4201671      1
4201672  4201672      1
4201673  4201673      2
4201674  4201674      1
4201675  4201675     35
4201676  4201676      1
4201677  4201677      1
4201678  4201678      1
4201679  4201679      2
4201680  4201680      1
4201681  4201681      1
4201682  4201682      1
4201683  4201683      1
4201684  4201684      1
4201685  4201685      1
4201686  4201686      1
4201687  4201687      2
4201688  4201688      1
4201689  4201689      1
4201690  4201690      1
4201691  4201691      3
4201692  4201692      2
4201693  4201693      1
4201694  4201694      1
4201695  4201695      1

[4201696 rows x 2 columns]

In [13]:
df_s1 = uni_user_df[uni_user_df['count'] > 50]
print(df_s1)
len(df_s1)

         user_id  count
5506        5506    116
5558        5558    132
9928        9928     68
9965        9965     71
13836      13836     65
19459      19459     57
24970      24970     96
25464      25464     80
26546      26546    107
33145      33145     71
33768      33768    123
34919      34919     77
34985      34985    130
36084      36084     57
36205      36205     65
37126      37126     52
39011      39011     89
46801      46801    112
47874      47874     67
48360      48360     86
48390      48390     66
49196      49196     75
50974      50974    205
51716      51716     58
53471      53471    216
54051      54051     52
56632      56632     92
56801      56801     54
60401      60401     92
61522      61522     64
...          ...    ...
4100926  4100926    308
4103370  4103370     71
4109513  4109513     70
4109827  4109827    102
4115755  4115755    110
4131347  4131347     65
4132917  4132917     55
4135459  4135459     82
4139318  4139318     82
4143479  4143479     65
4143923  4143923     55
4145880  4145880    115
4149986  4149986    168
4150989  4150989     57
4154427  4154427     51
4158837  4158837     93
4159510  4159510     90
4160309  4160309     81
4160913  4160913     60
4161432  4161432     64
4161591  4161591     81
4161772  4161772     55
4175285  4175285    144
4178607  4178607     55
4179773  4179773    103
4181090  4181090     53
4181493  4181493     60
4190671  4190671    189
4191432  4191432     54
4192049  4192049     54

[1466 rows x 2 columns]

1466

In [14]:
rat_Elec_df_s1_final = pd.merge(df_s1, data, on="user_id", how="left")
rat_Elec_df_s1_final = rat_Elec_df_s1_final.drop(['timestamp'],axis =1)
print(rat_Elec_df_s1_final.head())
len(rat_Elec_df_s1_final)

   user_id  count  product_id  rating
0     5506    116        4664     5.0
1     5506    116        8264     5.0
2     5506    116       10602     5.0
3     5506    116       10634     1.0
4     5506    116       20492     5.0

122171

In [16]:

from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(rat_Elec_df_s1_final, test_size = 0.30, random_state=0)
print(train_data.head(10))

        user_id  count  product_id  rating
24401    878529     61       69776     5.0
83993   2951322    100      461614     2.0
33140   1148965     58      279570     3.0
19305    695503     88      201595     5.0
108110  3733928     54       63730     2.0
41207   1434856    123      247803     5.0
71675   2488869     94      443172     4.0
86986   3042995     96       32185     4.0
18121    648841     88       56749     1.0
63043   2199858     59      293351     5.0

In [18]:
df_grouped = data.groupby(['product_id']).agg({'user_id': 'count'}).reset_index()
df_grouped.rename(columns = {'user_id': 'score'},inplace=True)
df_grouped.head()
#df_grouped.sort_values('rating',ascending = 0)

   product_id  score
0           0      1
1           1      3
2           2      6
3           3     27
4           4      1

In [19]:
#Sort the songs on recommendation score 
train_data_sort = df_grouped.sort_values(['score', 'product_id'], ascending = [0,1]) 
      
#Generate a recommendation rank based upon score 
train_data_sort['Rank'] = train_data_sort['score'].rank(ascending=0, method='first') 
          
#Get the top 5 recommendations 
popularity_recommendations = train_data_sort.head(5) 
popularity_recommendations

        product_id  score  Rank
308397      308397  18244   1.0
429571      429571  16454   2.0
327307      327307  14172   3.0
102803      102803  12285   4.0
296624      296624  12226   5.0

In [20]:
from surprise import Dataset,Reader
from surprise import accuracy
from surprise import KNNWithMeans

In [21]:
reader = Reader(rating_scale=(1,5))

In [22]:
data1 = Dataset.load_from_df(rat_Elec_df_s1_final[['user_id','product_id','rating']],reader)

In [23]:
data1

In [24]:
from surprise.model_selection import train_test_split

In [25]:
trainset, testset = train_test_split(data1, test_size=0.3, random_state=10)

In [26]:
item_cf = KNNWithMeans(5) 
sim_options={'name' : 'pearson' , 'user_based' : False}

In [27]:
item_cf.fit(trainset)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [28]:
0 in rat_Elec_df_s1_final.values

False

In [29]:
np.nan in rat_Elec_df_s1_final

False

In [30]:
len(testset)

36652

In [31]:
test_pred = item_cf.test(testset)

In [32]:
accu = accuracy.rmse(test_pred)

RMSE: 1.0701

In [33]:
test_pred[45]

Prediction(uid=46801, iid=24816, r_ui=2.0, est=4.260105941369754, details={'was_impossible': True, 'reason': 'User and/or item is unkown.'})

In [34]:
from surprise.model_selection import cross_validate


# Load the movielens-100k dataset (download it if needed),
data2 = Dataset.load_from_df(rat_Elec_df_s1_final[['user_id','product_id','rating']],reader)

# We'll use the famous KNNWithMeans algorithm.
algo = KNNWithMeans()

# Run 5-fold cross-validation and print results
cross_validate(algo, data1, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNWithMeans on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.0627  1.0570  1.0582  1.0661  1.0545  1.0597  0.0042
MAE (testset)     0.7683  0.7616  0.7610  0.7692  0.7576  0.7635  0.0045
Fit time          0.34    0.33    0.39    0.41    0.34    0.36    0.03
Test time         1.36    1.36    1.23    1.28    1.22    1.29    0.06

{'test_rmse': array([1.06265828, 1.0570119 , 1.05818289, 1.06611256, 1.05446167]),
 'test_mae': array([0.76825617, 0.76159152, 0.7610341 , 0.76922636, 0.75761006]),
 'fit_time': (0.33677124977111816,
  0.3317835330963135,
  0.3942105770111084,
  0.4107379913330078,
  0.3438122272491455),
 'test_time': (1.357379674911499,
  1.3570833206176758,
  1.2312068939208984,
  1.2795166969299316,
  1.2220778465270996)}

In [35]:
test_pred_df = pd.DataFrame(test_pred)
test_pred_df.head(10)

,uid,iid,r_ui,est,details
0,316896,288003,5.0,4.675025,"{'actual_k': 2, 'was_impossible': False}"
1,1839656,272030,5.0,3.839224,"{'actual_k': 1, 'was_impossible': False}"
2,2414075,155055,5.0,4.260106,"{'was_impossible': True, 'reason': 'User and/o..."
3,3932473,168574,5.0,5.000000,"{'actual_k': 1, 'was_impossible': False}"
4,367695,398653,5.0,5.000000,"{'actual_k': 5, 'was_impossible': False}"
5,2408811,170130,4.0,4.260106,"{'was_impossible': True, 'reason': 'User and/o..."
6,2877110,221801,5.0,5.000000,"{'actual_k': 2, 'was_impossible': False}"
7,3231392,198443,5.0,4.260106,"{'was_impossible': True, 'reason': 'User and/o..."
8,1294183,273458,2.0,3.052042,"{'actual_k': 5, 'was_impossible': False}"
9,3065404,288523,5.0,4.760047,"{'actual_k': 2, 'was_impossible': False}"

In [36]:
# convert results to dataframe
test_pred_df = pd.DataFrame(test_pred)
test_pred_df["was_impossible"] = [x["was_impossible"] for x in test_pred_df["details"]]

In [37]:
testset_new = trainset.build_anti_testset()

In [38]:
len(testset_new)

54440885

In [39]:
predictions = item_cf.test(testset_new[0:10000])

In [40]:
predictions_df = pd.DataFrame([[x.uid,x.iid,x.est] for x in predictions], columns=['User_Id','Product_Id','Rating'])

In [41]:
predictions_df.sort_values(by = ["User_Id", "Rating"],ascending=False,inplace=True)

In [42]:
predictions_df.head(20)

    User_Id  Product_Id  Rating
0    157803      138218     5.0
4    157803       12943     5.0
9    157803       62598     5.0
11   157803      157797     5.0
13   157803      186074     5.0
15   157803      275138     5.0
16   157803      128491     5.0
19   157803      242137     5.0
22   157803      260669     5.0
24   157803      289720     5.0
25   157803      384417     5.0
27   157803      166782     5.0
34   157803      312515     5.0
35   157803       62696     5.0
36   157803      429561     5.0
39   157803      466439     5.0
42   157803      201700     5.0
43   157803       52384     5.0
51   157803      227812     5.0
54   157803       28446     5.0

In [44]:
top_5_recos = predictions_df.groupby("User_Id").head(5).reset_index(drop=True)
top_5_recos

   User_Id  Product_Id  Rating
0   157803      138218     5.0
1   157803       12943     5.0
2   157803       62598     5.0
3   157803      157797     5.0
4   157803      186074     5.0